* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 3rem;
}

.barrato {
  text-decoration: line-through;
  text-decoration-thickness: 0.1rem;
}

h1 {
  text-align: center;
}

h3 {
  margin-top: 1rem;
  padding-left: 3rem;
}

h5 {
  color: red;
  text-align: center;
}

.input-send {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}

.content {
  background-color: rgb(245, 245, 245);
  padding: 3rem 0;
  border-radius: 1rem;
}

input {
  margin-right: 1rem;
  border-radius: .35rem;
  height: 1.75rem;
  width: 16rem;
}

button {
  height: 1.75rem;
  padding: 0 .5rem;
}

li {
  padding: 2rem 3rem;
  border-bottom: 1px solid gray;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li:first-child {
  border-top: 1px solid gray;
}

i:hover,
li:hover {
  cursor: pointer;
  background-color: white;
}

.todo-text {
  width: 100%;
}

.fa-xmark {
  padding: .75rem;
}

