<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.css">
  <script src='https://unpkg.com/vue@3/dist/vue.global.js'></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
  <title>Document</title>
</head>

<body>

  <div id="app">

    <div class="container">
      
      <h1>ToDo List</h1>
  
      <div class="input-send">
        <input type="text" placeholder="Inserisci un nuovo task" v-model="userInput.text" @keyup.enter="addTodo">
        <button @click="addTodo">Aggiungi</button>
      </div>

      <div class="error-message">
        <h5 v-if="error">Inserisci un task di almeno 5 lettere!</h5>
      </div>

      <div class="content">

        <ul v-if="todos.length > 0">
          <li v-for="(todo, i) in todos">
            <div class="todo-text" :class="todos[i].done ? 'barrato' : ''"  @click="toggleTodo(i)">
              {{ todo.text }}
            </div>
            <i class="fa-solid fa-xmark" style="color: #000000; font-size: 1.5rem;" @click="removeTodo(i)"></i>
          </li>
        </ul>
  
        <h3 v-else>Non ci sono task</h3>
  
      </div>

    </div>

  </div>

  
  <script src="script/myScript.js"></script>

</body>

</html>