<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.css">
  <script src='https://unpkg.com/vue@3/dist/vue.global.js'></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
  <title>Document</title>
</head>

<body>

  <div id="app">

    <div class="container">
      
      <h1>Lista</h1>
  
      <div class="input-send">
        <input type="text" placeholder="Inserisci un nuovo task" v-model="userInput.text" @keyup.enter="addTodo">
        <button @click="addTodo">Aggiungi</button>
      </div>
  
      <div class="content">

        <ul v-if="todos.length > 0">
          <li v-for="(todo, i) in todos" @click="toggleTodo(i)">
            <div :class="todos[i].done === true ? 'barrato' : ''">
              {{ todo.text }}
            </div>
            <i class="fa-solid fa-xmark" style="color: #000000;" @click="removeTodo(i)"></i>
          </li>
        </ul>
  
        <h3 v-else>Non ci sono task</h3>
  
      </div>

    </div>

  </div>

  
  <script src="script/myScript.js"></script>

</body>

</html>